asgiref==3.8.1
asttokens==3.0.0
bqplot==0.12.44
branca==0.8.1
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
colour==0.1.5
comm==0.2.2
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
Django==5.2
earthengine-api==1.5.12
eerepr==0.1.1
executing==2.2.0
folium==0.19.5
fonttools==4.57.0
future==1.0.0
geemap==0.35.3
geocoder==1.38.1
google-api-core==2.25.0rc0
google-api-python-client==2.168.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gunicorn==23.0.0
httplib2==0.22.0
idna==3.10
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.19.2
ipython==9.2.0
ipython_pygments_lexers==1.1.1
ipytree==0.2.2
ipywidgets==8.1.6
jedi==0.19.2
Jinja2==3.1.6
jupyter-leaflet==0.19.2
jupyterlab_widgets==3.0.14
kiwisolver==1.4.8
loguru==0.7.3
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
narwhals==1.36.0
numpy==2.2.5
packaging==25.0
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.2.1
plotly==6.0.1
prompt_toolkit==3.0.51
proto-plus==1.26.1
protobuf==6.30.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
Pygments==2.19.1
pyparsing==3.2.3
pyperclip==1.9.0
pyshp==2.3.1
python-box==7.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
ratelim==0.1.6
requests==2.32.3
rsa==4.9.1
scooby==0.10.1
setuptools==80.0.0
six==1.17.0
sqlparse==0.5.3
stack-data==0.6.3
traitlets==5.14.3
traittypes==0.2.1
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.4.0
wcwidth==0.2.13
whitenoise==6.9.0
widgetsnbextension==4.0.14
xyzservices==2025.4.0
